{% extends "base.html" %}
{% block content %}

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0 mr-auto">
              <span class="section-heading-upper">Maintain Social Distancing</span>
              <span class="section-heading-lower">Please stay 6 feet apart</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{url_for('static', filename='social_distancing.jpg')}}" style="max-width: 50%;" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Maintain social distancing when you interact with people.In case of a meeting, make sure there are not too many people in the room at a time so that you can maintain social distancing.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0 mr-auto ">
              <span class="section-heading-upper">SANITIZE FREQUENTLY</span>
              <span class="section-heading-lower">Sanitize your workplace and hands</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"  style="max-width: 40%;" src="{{url_for('static', filename='sanitize.gif')}}" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Before beginning your day’s work, disinfect the desk and the laptop/desktop.If you absolutely have to touch a handle or a door knob, sanitise your hands immediately.At lunchtime, wash your hands properly before you start eating.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0 ">
              <span class="section-heading-upper">Avoid Handshake<span>
              <span class="section-heading-lower">Opt for other alternatives</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"  style="max-width: 50%;" src="{{url_for('static', filename='HANDSHAKE-ALTERNATIVE.gif')}}" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Handshakes are potential harbingers of covid-19.An infected person would have to sneeze or cough into his hand, touch someone else’s hand, and that second person would then have to place that hand in close contact with their nose, mouth or even eyes to get infected with any virus that might still be on the hand’s surface</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; MaskifAI 2020</p>
      <p class="m-0 small">Made by <a href = "https://linkedin.com/in/sachitamalhotra">S</a><a href = "https://linkedin.com/in/srishti-negi-83a10019b">S</a><a href = "https://linkedin.com/in/shruthi-rao-709849196/">S</a></p>
    </div>
  </footer>

{% endblock %}