{% extends "base.html" %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{url_for('static', filename='mask.gif')}}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Mask Detection</span>
            <span class="section-heading-lower"></span>
          </h2>
          <p class="mb-3">You have to stand in front of the camera and within 5 minutes it will detect whether you are wearing mask properly or not.
            <br><b>Click on Mask Detector below</b></br>
          </p>
          <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{{url_for('check')}}">Mask Detector</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Motivation</span>
              <span class="section-heading-lower">***</span>
            </h2>
            <p class="mb-0">During these pandemic times, taking safety precautions is the need of the hour. Keeping that in mind we created the mask detection web application which will ensure that whoever enters the organization wears a mask.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; MaskifAI 2020</p>
      <p class="m-0 small">Made by <a href = "https://linkedin.com/in/sachitamalhotra">S</a><a href = "https://linkedin.com/in/srishti-negi-83a10019b">S</a><a href = "https://linkedin.com/in/shruthi-rao-709849196/">S</a></p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
